<ul style="list-style-type:square">
    <li><a href="https://www.linkedin.com/in/goderdzi-jobadze-441886152/">Linkedin</a></li>
    <li><a href="https://github.com/goodot">Github</a></li>
    <li><a href="https://stackoverflow.com/users/3179389/godot">StackOverflow</a></li>
    <li><a href="https://www.kaggle.com/goodot">Kaggle</a></li>
  
</ul>
<ul style="list-style-type:square">
    <li><a href="https://www.codewars.com/users/goodot">CodeWars</a></li>
    <li><a href="https://www.hackerrank.com/godo72310">Hackerrank</a></li>
  
</ul>
</p>
